.adjustContainer {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	background: #fff;
	border: solid 0.1em #eee;
	border-radius: 5px;
	width: 100%;
	padding: 1em 0.5em;

	margin-bottom: 2em;
	text-align: center;
}

.adjustContainer h5 {
	font-size: 1.5em;
	color: #666;
	opacity: 0.75;
	font-weight: normal;
	margin: 0 0 0.5rem;
}

.adjustStatContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.adjustStatContainer > div:nth-child(-n + 4) {
	margin-bottom: 1rem;
}

.adjustStat {
	flex: 0 0 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 1em;
}

.adjustStat span {
	font-size: 1.2em;
	color: #666;
	opacity: 0.75;
}

.adjustStat h6 {
	font-size: 2.2em;
	margin: 0;
	color: #666;
	text-transform: capitalize;
}
