.tab {
	display: block;
}

[data-type='primarytab'] button {
	position: relative;
	background: transparent;
	border: none;
	font-size: 2.6rem;
	font-weight: 300;
	text-transform: capitalize;
	cursor: pointer;
	padding: 0 0 1rem;
	margin-right: 4rem;
	color: #eee;
}
