.generalContainer {
	width: 100%;
	padding: 2rem 0rem;
}

.generalContainer h3 {
	font-size: 2.4em;
	margin: 0 0 0.5em;
}

.containerContent {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: -1em;
	margin-right: -1em;
}

.tableData {
	margin: 0 0 2em;
}

.containerContent .tableContent {
	flex: 0 1 33.33%;

	padding: 1em;
}

.containerContent .tableContentFull {
	flex: 0 1 100%;
	padding: 1em;
}

.tableTitle,
.table {
	display: grid;
	grid-template-columns: repeat(5, calc(100% / 5) [col]);
	grid-template-rows: auto;
}

.talentTable {
	grid-template-columns: repeat(3, calc(100% / 3) [col]);
	border: solid 1px #ccc;
	border-width: 0 1px 1px 0;
}

.table {
	border: solid 1px #ccc;
	border-width: 0 1px 1px 0;
}

.titleBar {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

.titleBar button {
	font-size: 1.4em;
	padding: 0.5em 1em 0.3em;
	margin-top: -0.5em;
	margin-left: 2em;
	border: solid 1px #ccc;
	border-radius: 0.5em;
}

.tableTitle {
	background: #c1dcde;
	border: solid 1px #ccc;
	border-width: 1px 1px 0;
}

.tableTitle p {
	padding: 0 1em;
	margin-bottom: 0.5em;
}

.tableTitle .removeBtn {
	font-size: 1.2em;
	color: #db1f48;
	margin-top: -0.2em;
	display: block;
	cursor: pointer;
	transition: ease all 300ms;
}

.tableTitle .removeBtn:hover {
	color: #b20a2e;
}

.tableTitle p,
.tableTitle strong {
	font-size: 1.2em;
}

.tableTitle p:first-of-type {
	grid-column: span 3;
}

.addItem button {
	width: 100%;
	border-color: #ccc;
	border-width: 0 1px 1px;
}
