.hpContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.hpStatContainer {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	background: #fff;
	border: solid 0.1rem #eee;

	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 12px;
	border: 1px solid rgba(209, 213, 219, 0.3);

	border-radius: 5px;
	padding: 1rem 0.5rem;

	text-align: center;
}

.hpStatContainer > div:first-of-type {
	margin-bottom: 1rem;
}

.hpStatContainer > h5 {
	font-size: 1.5rem;
	color: #666;
	opacity: 0.75;
	font-weight: normal;
	margin: 0 0 0.5rem;
}

.hpStatSingle > h5 {
	font-size: 1.5em;
	color: #666;
	opacity: 0.75;
	font-weight: normal;
	margin: 0 0 0.5rem;
}

.hpStat {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 1rem;
}

.hpStatSingle {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 1rem;

	background: #fff;
	border: solid 0.1em #eee;
	border-radius: 5px;
	padding: 1rem 1.5rem;
}

.hpStat span,
.hpStatSingle span {
	font-size: 1.2rem;
	color: #666;
	opacity: 0.75;
}

.hpStat h6,
.hpStatSingle h6 {
	font-size: 2.2rem;
	margin: 0;
	color: #666;
	text-transform: capitalize;
}
