.bioContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin: 0 0 2em;
}

.bioStat {
	display: flex;
	flex-direction: column;
	margin-right: 2em;
	justify-content: flex-start;
	align-items: flex-start;
}

.bioStat p {
	font-size: 1.4em;
	margin: 0;
	color: #eee;
	text-transform: capitalize;
}

.bioStat span {
	font-size: 1.2em;
	color: #ccc;
	opacity: 0.75;
}
