.fameContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
	margin: 0 0 2rem;
}

.fameStatContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	background: #fff;
	border: solid 0.1rem #eee;

	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 12px;
	border: 1px solid rgba(209, 213, 219, 0.3);

	border-radius: 5px;
	padding: 1em 0.5rem;

	flex: 0 0 60%;
	text-align: center;
}

.fameStatContainer > h5 {
	font-size: 1.5rem;
	color: #666;
	opacity: 0.75;
	font-weight: normal;
	margin: 0 0 0.5rem;
	flex: 0 0 100%;
}

.fameStat h5 {
	font-size: 1.5em;
	color: #666;
	opacity: 0.75;
	margin: 0 0 0.5rem;
	font-weight: normal;
}

.fameStat {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 0 0.5rem;
}

.fameStatSingle {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 1rem;

	background: #fff;
	border: solid 0.1em #eee;
	border-radius: 5px;
	padding: 1rem 1.5rem;
}

.fameStatSingle > h5 {
	font-size: 1.5em;
	color: #666;
	opacity: 0.75;
	font-weight: normal;
	margin: 0 0 0.5rem;
}

.fameStat span,
.fameStatSingle span {
	font-size: 1.2rem;
	color: #666;
	opacity: 0.75;
}

.fameStat h6,
.fameStatSingle h6 {
	font-size: 2.2rem;
	margin: 0;
	color: #666;
	text-transform: capitalize;
}
