.hlContainer {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.hlStat {
	display: flex;
	flex-direction: row;
	margin-bottom: 3.5em;
	justify-content: flex-start;
	align-items: baseline;
}

.hlStat span {
	font-size: 1.2em;
	color: #ccc;
	opacity: 0.75;
}

.hlStat h6 {
	flex: 0 0 75%;
	font-size: 2.2em;
	margin: 0;
	color: #eee;
	text-transform: capitalize;
	position: relative;
	text-align: left;
}

.hlStat h6 > span {
	font-size: 12px;
	font-weight: normal;
	text-transform: capitalize;
	position: absolute;
	left: 0;
	bottom: -1.5em;
}

.hlStat > span {
	flex: 0 0 25%;
	text-align: left;
}
