.weightContainer {
	margin-right: 3rem;
	flex: 0 0 auto;
}

.weightContainer span {
	font-size: 1.2rem;
	color: #fafafa;
}

.weightContainer h6 {
	font-size: 2.2rem;
	margin: 0.5rem 0 0;
	color: #fff;
}
