.tableCell {
	list-style-type: none;
	margin: 0;
	padding: 1em 4em 1em 2em;
	text-align: left;
	border: solid 1px #ccc;
	border-width: 1px 0 1px 1px;
}

.tableCell ul,
.tableCell li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.tableCell ul {
	display: grid;
}

.tableCell p {
	margin: 0;
	font-size: 1.4em;
	font-weight: 700;
}

.tableCell li {
	font-size: 1.2em;
}

.spell {
	display: flex;
	flex-direction: column;
}

.spell .primary {
	display: grid;
	grid-template-columns: repeat(14, calc(100% / 14) [col]);
	grid-template-rows: auto;
}
