.xpContainer {
	width: 100%;
	margin: 0 0 0 2rem;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.xpContainer p {
	text-align: right;
	color: #fff;
	margin: 0.5rem 0;
}

.barContainer {
	background: rgba(255, 255, 255, 0.33);
	height: 1rem;
	position: relative;
}

.currentxp {
	background: rgba(255, 255, 255, 0.67);
	height: 1rem;
	display: block;
}

.overflowxp {
	background: rgba(216, 216, 216, 1);
	height: 1rem;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
