.weaponsContainer {
	width: 100%;
	padding: 2rem 0rem;
}

.weaponsContainer h3 {
	font-size: 2.4em;
	margin: 0 0 0.5em;
}

.table {
	display: grid;
	grid-template-columns: repeat(24, calc(100% / 24) [col]);
	grid-template-rows: auto;

	border: solid 1px #ccc;
	border-width: 0 1px 1px 0;
}
