.actionContainer {
	background: hsl(240, 43%, 8%);
	display: flex;
	flex-direction: column;
	padding: 2rem 0;
	box-sizing: border-box;
	width: 60px;
}

.actionContainer h3 {
	writing-mode: vertical-rl;
	text-orientation: mixed;
	margin: 1rem 1.5rem 3rem 1rem;
	font-size: 2.2rem;
	color: #fff;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
