.spell {
	display: flex;
	flex-direction: column;
}

.spell .primary {
	display: grid;
	grid-template-columns: repeat(14, calc(100% / 14) [col]);
	grid-template-rows: auto;
}

.spell .secondary {
	border: solid 1px #ccc;
	border-width: 1px 0 0 1px;
	padding: 2em 1em 1em;
	background: #f3e3e2;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.spell h4 {
	font-size: 2em;
	margin: 0;
	border-bottom: solid 1px #ccc;
	padding: 0 0 0.5em;
	font-weight: 400;
}

.spell .secondary div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.infoItem {
	flex: 0 1 33%;
	margin: 1em 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.infoItem li,
.infoItem strong {
	font-size: 1.6rem;
}

.infoItem li:first-of-type {
	flex: 0 1 33%;
}
