.statModsContainer {
	margin-right: 3rem;
	flex: 1 0 auto;
}

.statModsContainer span {
	font-size: 1.2rem;
	color: #fafafa;
}

.statModsContainer h6 {
	font-size: 2.2rem;
	margin: 0.5rem 0 0;
	color: #fff;
	display: inline-block;
}

.statModItem {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
}
