.doorsContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;

	margin-bottom: 2rem;
}

.doorsStatContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	background: #fff;
	border: solid 0.1rem #eee;
	border-radius: 5px;
	padding: 1em 0.5rem;

	flex: 0 0 60%;
	text-align: center;
}

.doorsStatContainer > h5 {
	font-size: 1.5rem;
	color: #666;
	opacity: 0.75;
	font-weight: normal;
	margin: 0 0 0.5rem;
	flex: 0 0 100%;
}

.doorsStatSingle > h5 {
	font-size: 1.5em;
	color: #666;
	opacity: 0.75;
	font-weight: normal;
	margin: 0 0 0.5rem;
}

.doorsStat {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 1rem;
}

.doorsStatSingle {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 1rem;

	background: #fff;
	border: solid 0.1em #eee;
	border-radius: 5px;
	padding: 1rem 1.5rem;
}

.doorsStat span,
.doorsStatSingle span {
	font-size: 1.2rem;
	color: #666;
	opacity: 0.75;
}

.doorsStat h6,
.doorsStatSingle h6 {
	font-size: 2.2rem;
	margin: 0;
	color: #666;
	text-transform: capitalize;
}
