.moveContainer {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	background: #fff;
	border: solid 0.1em #eee;

	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 12px;
	border: 1px solid rgba(209, 213, 219, 0.3);

	border-radius: 5px;
	width: 100%;
	padding: 1em 0.5em;

	margin-bottom: 2em;
	text-align: center;
}

.moveContainer h5 {
	font-size: 1.5em;
	color: #666;
	opacity: 0.75;
	font-weight: normal;
	margin: 0 0 0.5rem;
}

.moveStatContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.moveStatContainer > div:first-of-type {
	text-align: left;
	align-items: flex-start;
}

.moveStatSubContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

.moveStat {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 1em;
}

.moveStat span {
	font-size: 1.2em;
	color: #666;
	opacity: 0.75;
}

.moveStat h6 {
	font-size: 2.2em;
	margin: 0;
	color: #666;
	text-transform: capitalize;
}
