.modEntryContainer,
button {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.modEntryContainer[data-label='addContainer'] {
	flex-direction: column;
}

button {
	transition: ease all 300ms;
	border: solid 1px #01949a;
	background: rgba(255, 255, 255, 0.1);
	padding: 1em;
	margin: 0 0 0.2em;
	cursor: pointer;
}

button:hover {
	background: rgba(255, 255, 255, 0.33);
}

.item {
	flex: 0 1 auto;
	padding: 0 2rem;

	text-align: center;
	align-self: center;
}

.item h3 {
	font-size: 2.2rem;
	margin: 0 0 0.5rem;
	color: #111;
}

button .item h3 {
	font-size: 1.8em;
	font-family: 'Nunito Sans', sans-serif;
}

.item p {
	margin: 0;
	font-size: 1.5rem;
	color: #333;
}

.item:first-of-type {
	text-align: left;
	padding: 0 2rem 0 0;
	flex: 1 0 auto;
}
