.inventoryContainer {
	width: 100%;
	padding: 2rem 0rem 8rem;
}

.skillContainer {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	column-gap: 2em;
	width: calc(100% - 2em);
}

.skillColumn {
	display: block;
}
