.characterBarContainer {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.characterBarContainer h3 {
	font-size: 3.2em;
	color: #fff;
	text-align: left;
	margin: 0 2rem 0 0;
}
