.statContainer {
	flex: 0 0 37.5rem;
	padding: 2rem 3rem;
	background: #1b2e3c;
	/* background: linear-gradient(
		165deg,
		rgba(200, 200, 200, 0.33) 0%,
		rgba(240, 240, 240, 1) 25%,
		rgba(240, 240, 240, 1) 66%,
		rgba(165, 165, 165, 0.33) 100%
	); */
}

.statContainer h3 {
	font-size: 3.2em;
	color: #fafafa;
	text-align: left;
	margin: 0 0 2rem;
}
