* {
	font-size: 10px;
	box-sizing: border-box;
	font-family: 'Nunito Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Arvo', serif;
}

.App {
	background: #f3e3e2;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: stretch;
	min-height: 100vh;
}

/* --- OVERRIDES --- */
.hiddenBar {
	width: 0 !important;
	min-width: unset !important;
	padding: 0 !important;
}

.inactive {
	visibility: hidden;
	pointer-events: none;
	z-index: -1 !important;
}

.isHidden {
	padding: 0 !important;
	height: 0;
	content-visibility: hidden;
	display: none !important;
}

/* --- BTN States --- */
.btn_hover {
	background: #999;
	border-radius: 5px;
}

.btn_active {
	background: #555;
	border-radius: 5px;
}

.btn_title {
	margin: 0 1rem;
	text-align: center;
}

.hasText {
	transition: all 300ms ease;
	display: block;
}

.hasText:hover {
	background: #666;
	color: #fff;
	border-radius: 0.5rem;
}

.isAlone {
	margin-right: 0 !important;
	margin-bottom: 0 !important;
}

.active > button {
	color: #fff !important;
}

.active > button::after {
	transition: ease all 300ms;
	content: ' ';
	width: 100%;
	height: 0.5rem;
	background-color: hsl(240, 43%, 8%);

	position: absolute;
	left: 0;
	bottom: -0.7rem;
}

.simpleBtn > div {
	width: 2.1em;
	height: 2.5em;
}

.simpleBtn > div > svg {
	margin: 0;
	color: #999;
}

.simpleBtn.hasText,
.simpleBtn .btn_hover,
.simpleBtn .btn_active {
	background: transparent;
}

.simpleBtn .btn_hover svg {
	color: #666;
}

/* --- Tooltip --- */
.hasTooltip {
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.hasTooltip:hover > div {
	visibility: visible;
	transform: translateY(0rem);
	opacity: 1;
	transition: 0.3s linear;
	/* animation: odsoky 1s ease-in-out infinite alternate; */
	animation: 1s ease-in-out;
}

/* @keyframes odsoky {
	0% {
		transform: translateY(0.6rem);
	}

	100% {
		transform: translateY(0.1rem);
	}
} */

/* --- Colours --- */

.red {
	background-color: #db1f48;
}

.blue {
	background-color: #004369;
}

.teal {
	background-color: #01949a;
}

.purple {
	background-color: #2f2440;
}

.darkgrey {
	background-color: #333;
}

/* --- Table Column Styles --- */

.header {
	background-color: #e1dcde;
}

#weaponsContainer .weaponHeaders .header li {
	flex: 0 0 auto;
}

#weaponsContainer .weaponHeaders .header li.hasSubs {
	flex: 0 1 50%;
	padding: 1em 2em !important;
}

#weaponsContainer .weaponHeaders .header[data-label='Weapon'],
#weaponsContainer .weaponHeaders .header[data-label='Damage Versus'],
#weaponsContainer .weaponHeaders .header[data-label='Notes'] {
	flex: 0 1 100% !important;
}

.colspan-2 {
	grid-column: span 2;
}

.colspan-3 {
	grid-column: span 3;
}

.colspan-6 {
	grid-column: span 6;
}

.colspan-9 {
	grid-column: span 9;
}

.colspan-12 {
	grid-column: span 12;
}

.colspan-14 {
	grid-column: span 14;
}

.grid-col-2 {
	grid-template-columns: repeat(2, 50%);
}

.grid-col-3 {
	grid-template-columns: repeat(3, calc(100% / 3));
}

.grid-col-6 {
	grid-template-columns: repeat(6, calc(100% / 6));
}

.grid-col-9 {
	grid-template-columns: repeat(9, calc(100% / 9));
}

.grid-col-12 {
	grid-template-columns: repeat(12, calc(100% / 12));
}

.subTable {
	margin-left: -1em !important;
	width: calc(100% + 2em);
}

.hasCellBorder {
	border: solid 1px #ccc !important;
	border-width: 1px 0 0 1px !important;
	margin: 0 !important;
}

.isOdd {
	background: rgba(193, 220, 222, 0.2);
}
