.modalContainer {
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 12px;
	border: 1px solid rgba(209, 213, 219, 0.5);

	position: fixed;
	top: 10rem;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.33);
	min-width: 30rem;
	z-index: 9999;
}

.modalContainer .title {
	padding: 3rem 9rem 3rem 3rem;
	border-radius: 12px 12px 0 0;
}

.title h3 {
	color: #fafafa;
	margin: 0;
	font-size: 3rem;
	font-weight: 300;
}

.modalContainer .body {
	padding: 2rem 3rem;
}

.modalContainer .bodyContent {
	padding: 0 0 2rem;
	margin: 0 0 2rem;
	border-bottom: solid 1px #999;
}

.bodyContent > div {
	padding: 1rem 0;
	border-bottom: solid 1px #aaa;
}

.bodyContent > div:last-of-type {
	border-bottom: none;
}
