.inputContainer {
	display: flex;
	flex-direction: column;
	padding: 0 1em;
	margin: 0 0 1.5em;
	border-bottom: solid 1px #999;
}

.inputContainer label {
	font-size: 1.4em;
	color: #333;
	text-transform: uppercase;
}

.inputContainer input {
	padding: 0.5em 0;
	background: transparent;
	border: none;
	color: #000;
	font-size: 2em;
}

.inputContainer input:focus,
.inputContainer input:hover {
	outline: none;
}
