.panelContainer {
	background: hsl(240, 43%, 8%);
	flex: 0 0 auto;
}

.panelContainer > div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: stretch;
	height: 100%;
}
