.tooltip {
	visibility: hidden;
	z-index: 1;
	opacity: 0.4;
	width: auto;
	padding: 0 2rem;
	background: #333;
	color: #fafafa;
	position: absolute;
	border-radius: 0.9rem;
	font: 1.6rem;
	transform: translateY(0.9rem);
	transition: all 0.3s ease-in-out;
	box-shadow: 0 0 0.3rem rgba(56, 54, 54, 0.86);

	top: 130%;
}

.tooltip::after {
	content: ' ';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 1.2rem 1.2rem 0;
	border-color: #333 transparent transparent transparent;
	position: absolute;
	top: -17%;
	left: 10%;
	transform: rotate(180deg);
}

.tooltip p {
	font-size: 1.6rem;
}
