.basicContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.basicStat {
	display: flex;
	flex-direction: column;
	margin-bottom: 2em;
	justify-content: flex-start;
	align-items: flex-start;
	flex: 0 0 25%;
}

.basicStat p {
	font-size: 2.2em;
	margin: 0;
	color: #eee;
	text-transform: capitalize;
	font-weight: bold;
}

.basicStat span {
	font-size: 1.2em;
	color: #ccc;
	opacity: 0.75;
	text-transform: uppercase;
}
