.treasureSummContainer {
	margin-right: 0rem;
	flex: 0 0 auto;
}

.treasureSummContent {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.tSummStat {
	margin-right: 2rem;
}

.tSummStat:last-of-type {
	margin-right: 0;
}

.treasureSummContainer span,
.treasureSummContainer p {
	font-size: 1.2rem;
	color: #fafafa;
}

.treasureSummContainer h6 {
	font-size: 2.2rem;
	margin: 0.5rem 0 0;
	color: #fff;
}

.treasureSummContainer p {
	margin: 0;
}
