.tableCell {
	list-style-type: none;
	margin: 0;
	padding: 1em;
	text-align: left;
	border: solid 1px #ccc;
	border-width: 1px 0 0 1px;
}

.tableCell ul,
.tableCell li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.tableCell ul {
	display: grid;
}

.tableCell p {
	margin: 0;
	font-size: 1.4em;
	font-weight: 700;
}

.tableCell li {
	font-size: 1.2em;
}

.removeItem {
	font-weight: 400 !important;
	font-size: 1.2em !important;
}

.removeBtn {
	font-size: 1.2em;
	color: #db1f48;
	display: block;
	cursor: pointer;
	transition: ease all 300ms;
}
