.savesContainer {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
	background: #fff;
	border: solid 0.1em #eee;
	border-radius: 5px;
	width: 100%;
	padding: 1rem;

	margin-bottom: 2em;
}

.savesContainer h5 {
	font-size: 1.5em;
	color: #666;
	opacity: 0.75;
	font-weight: normal;
	margin: 0 0 0.5rem;
}
